@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-bgr-dark: hsl(0 0% 5%);
  --color-bgr: hsl(0 0% 10%);
  --color-bgr-light: hsl(0 0% 15%);

  --color-txt: hsl(0 0% 85%);
  --color-txt-muted: hsl(0 0% 70%);

  --color-brd: hsl(0 0% 25%);

  --color-acc: hsl(220 83% 33%);
  --color-acc-hover: hsl(220 83% 28%);
  --color-acc-active: hsl(220 83% 23%);
}
